body{
    text-align: center;
    text-shadow: 0ex;
    text-orientation: inherit;
    font-style: inherit;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(94, 94, 201);
    background-color: antiquewhite;
    
}